@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
.footer {
  width: 100%;
  height: 40px;
  background-color: $primary-bg-color;
  color: $primary-text-color;
  @include responsive-property(font-size, $default-font-size);

  font-family: 'Caveat', cursive;
}
