.header {
  width: 100%;
  height: 60px;
  color: $primary-text-color;
  background-color: $primary-bg-color;

  .nav {
    width: 100%;
    height: 100%;
    a {
      display: block;
      text-align: center;
      @include responsive-property(font-size, $reduced-font-size);
      // font-size: 1.5rem;
      color: $primary-text-color;
      padding: 1rem;
      width: 70vw;
      @include breakpoint-up(medium) {
        width: 150px;
      }
      height: 100%;
      border-radius: 10px;
      transition: all 0.4s ease-in;
      &:hover {
        background-color: $primary-bg-color-hover;
      }
    }
    .nav__logo {
      @include responsive-property(font-size, $h4-font-size);
      // font-size: 2rem;
      width: 25%;
    }
    .side-nav {
      a {
        @include responsive-property(font-size, $default-font-size);
      }
      @include breakpoint-up(large) {
        display: none;
      }
      .humberger {
        cursor: pointer;
        width: 35px;
        height: 25px;
        div {
          transition: all 0.4s ease-in;
          width: 100%;
          height: 3px;
          background-color: $primary-text-color;
        }
      }
      .humberger.toggle {
        div:nth-child(2) {
          display: none;
        }
        div:nth-child(1) {
          transform: rotate(-45deg) translate(-10px, 10px);
        }
        div:nth-child(3) {
          transform: rotate(45deg) translate(-5px, -5px);
        }
      }
      .side-nav__menu {
        width: 100vw;
        position: fixed;
        height: calc(100vh - 100px);
        background-color: rgba($primary-bg-color, 0.9);
        top: 60px;
        right: -100%;
        z-index: 100;
        transition: all 0.4s ease-in;
        .menu__list {
          width: 100%;
          height: 60%;
          ul {
            height: 100%;
            width: 100%;
          }
        }

        // a {

        // text-decoration: none;
        // @include responsive-property(font-size, $default-font-size);
        // // font-size: 1.5rem;
        // color: $primary-text-color;
        // }
      }
      .side-nav__menu.show {
        right: 0;
      }
    }
    .nav__menu {
      display: none;
      @include breakpoint-up(large) {
        display: block;
      }
      @include breakpoint-up(x-large) {
        width: 60%;
      }
      width: 75%;
      // a {
      //   @include responsive-property(font-size, $default-font-size);
      //   // font-size: 1.5rem;
      //   color: $primary-text-color;
      //   padding: 1rem;
      //   width: 150px;
      //   height: 40px;
      //   border-radius: 10px;
      //   transition: all 0.4s ease-in;
      //   &:hover {
      //     background-color: $primary-bg-color-hover;
      //   }
      // }
    }
  }
}
