.projects-list {
  color: $primary-text-color;
  // @include responsive-property('width', $width);
  width: 100%;
  .h-line {
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 1rem 0;
  }
  a {
    color: $primary-text-color;
  }
  li {
    display: block;
    @include responsive-property('padding', $padding); // padding: 1rem;
    margin-bottom: 1rem;
    @include responsive-property('font-size', $reduced-font-size);
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    > div {
      width: 100%;
      height: 30px;
    }
    .action-btns {
      @include responsive-property(width, $action-btn-width);
      .action-btn {
        cursor: pointer;
      }
    }
  }
  li:nth-child(odd) {
    // background: $primary-bg-color;
    background: $ternary-bg-color;
  }
  li:nth-child(even) {
    background: $secondary-bg-color;
  }
}
