// Background colors
$primary-bg-color: steelblue;
$secondary-bg-color: rgb(34, 119, 189);
$ternary-bg-color: rgb(65, 139, 182);
$primary-bg-color-hover: rgb(18, 54, 133);

$primary-list-color: rgb(6, 137, 160);
$secondary-list-color: rgb(8, 159, 185);

$message-bg-color: rgba(19, 18, 18, 0.2);

$spinner-color: rgb(22, 20, 49);

// Text colors
$primary-text-color: #fff;
$message-text-color: rgb(128, 5, 5);
// $display-box-color: rgb(65, 139, 182);

// Font size
$h4-font-size: (
  small: 1.5rem,
  medium: 1.8rem,
  large: 2rem,
  x-large: 2.5rem,
);

$default-font-size: (
  small: 2rem,
  medium: 2.3rem,
  large: 2.5rem,
  x-large: 2.8rem,
);

$reduced-font-size: (
  small: 1.4rem,
  medium: 1.6rem,
  large: 1.9rem,
  x-large: 2.1rem,
);

$action-btn-width: (
  small: 30px,
  medium: 50px,
  large: 60px,
);
